<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.runhwani.runmate.dao.CourseDao">

    <insert id="insertCourse" parameterType="com.runhwani.runmate.model.Course">
        INSERT INTO courses (
            course_id,
            course_name,
            is_shared,
            distance,
            avg_elevation,
            start_location,
            gpx_file,
            created_by
        ) VALUES (
                     #{courseId},
                     #{courseName},
                     #{isShared},
                     #{distance},
                     #{avgElevation},
                     #{startLocation},
                     #{gpxFile},
                     #{createdBy}
                 )
    </insert>

<!--    코스 삭제시 단일 코스 조회 -->
    <select id="selectCourseById" parameterType="java.util.UUID" resultType="com.runhwani.runmate.model.Course">
        SELECT course_id       AS courseId,
               course_name     AS courseName,
               is_shared       AS isShared,
               distance        AS distance,
               avg_elevation   AS avgElevation,
               start_location  AS startLocation,
               gpx_file        AS gpxFile,
               created_by      AS createdBy
        FROM courses
        WHERE course_id = #{courseId}
    </select>

    <delete id="deleteCourse" parameterType="java.util.UUID">
        DELETE FROM courses
        WHERE course_id = #{courseId}
    </delete>

</mapper>
