<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runhwani.runmate.dao.CurriculumDao">

    <resultMap id="TodoResultMap" type="com.runhwani.runmate.model.Todo">
        <id column="todo_id" property="todoId"/>
        <result column="curriculum_id" property="curriculumId"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="is_done" property="isDone"/>
        <result column="date" property="date"/>
    </resultMap>

    <insert id="insertCurriculum" parameterType="com.runhwani.runmate.model.Curriculum">
        INSERT INTO curricula (curriculum_id,
                               user_id,
                               marathon_id,
                               goal_dist,
                               goal_date,
                               run_exp,
                               dist_exp,
                               freq_exp)
        VALUES (#{curriculumId},
                #{userId},
                #{marathonId},
                #{goalDist},
                #{goalDate},
                #{runExp},
                #{distExp},
                #{freqExp})
    </insert>

    <insert id="insertTodo" parameterType="com.runhwani.runmate.model.Todo">
        INSERT INTO todos (todo_id,
                           curriculum_id,
                           user_id,
                           content,
                           date,
                           is_done)
        VALUES (#{todoId},
                #{curriculumId},
                #{userId},
                #{content},
                #{date},
                FALSE)
    </insert>

    <select id="selectByUserId" parameterType="java.util.UUID">
        SELECT *
        FROM curricula
        WHERE user_id = #{userId}
          AND is_finished = false
        LIMIT 1
    </select>

    <select id="selectByPeriod"
            resultMap="TodoResultMap"
            parameterType="map">
        SELECT *
        FROM todos
        WHERE user_id = #{userId}
          AND date &gt;= #{start}
          AND date &lt; #{end}
        ORDER BY date
    </select>

    <update id="updateIsFinished" parameterType="java.util.UUID">
        UPDATE curricula
        SET is_finished = true
        WHERE curriculum_id = #{curriculumId}
          AND is_finished = false
    </update>

    <update id="updateIsFinishedEveryDay">
        UPDATE curricula
        SET is_finished = TRUE
        WHERE is_finished = FALSE
          AND goal_date &lt; NOW()
    </update>

</mapper>
