<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runhwani.runmate.dao.HistoryDao">

    <resultMap id="HistoryMap" type="com.runhwani.runmate.model.History">
        <id column="history_id" property="historyId" javaType="java.util.UUID"/>
        <id column="user_id" property="userId" javaType="java.util.UUID"/>
        <id column="course_id" property="courseId" javaType="java.util.UUID"/>
        <id column="group_id" property="groupId" javaType="java.util.UUID"/>
        <result column="gpx_file" property="gpxFile"/>
        <result column="start_location" property="startLocation"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="distance" property="distance"/>
        <result column="avg_bpm" property="avgBpm"/>
        <result column="avg_pace" property="avgPace"/>
        <result column="avg_cadence" property="avgCadence"/>
        <result column="avg_elevation" property="avgElevation"/>
        <result column="calories" property="calories"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <insert id="insert" parameterType="com.runhwani.runmate.model.History">
        INSERT INTO histories (history_id, user_id, course_id, group_id, gpx_file, start_location,
                               start_time, end_time, distance, avg_bpm, avg_pace, avg_cadence,
                               avg_elevation, calories, created_at)
        VALUES (#{historyId}, #{userId}, #{courseId}, #{groupId}, #{gpxFile}, #{startLocation},
                #{startTime}, #{endTime}, #{distance}, #{avgBpm}, #{avgPace}, #{avgCadence},
                #{avgElevation}, #{calories}, #{createdAt})
    </insert>

    <select id="findById" resultMap="HistoryMap" parameterType="java.util.UUID">
        SELECT *
        FROM histories
        WHERE history_id = #{historyId}
    </select>

    <select id="findByUserId" resultMap="HistoryMap" parameterType="java.util.UUID">
        SELECT * FROM histories
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>
    
    <select id="findHistoryDetailsWithPaging" resultType="map">
        SELECT 
            h.history_id,
            h.user_id,
            h.course_id,
            h.group_id,
            h.gpx_file,
            h.start_location,
            h.start_time,
            h.end_time,
            h.distance,
            h.avg_bpm,
            h.avg_pace,
            h.avg_cadence,
            h.avg_elevation,
            h.calories,
            h.created_at,
            c.course_name,
            g.group_name
        FROM 
            histories h
        LEFT JOIN 
            courses c ON h.course_id = c.course_id
        LEFT JOIN 
            groups g ON h.group_id = g.group_id
        WHERE 
            h.user_id = #{userId}
        ORDER BY 
            h.start_time DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <select id="countByUserId" resultType="long">
        SELECT COUNT(*) FROM histories
        WHERE user_id = #{userId}
    </select>
    
    <select id="findGroupMemberProfilesByGroupId" resultType="string">
        SELECT u.profile_image
        FROM users u
        JOIN group_members gm ON u.user_id = gm.user_id
        WHERE gm.group_id = #{groupId}
    </select>
</mapper>
