<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runhwani.runmate.dao.UserDao">

    <resultMap id="UserMap" type="com.runhwani.runmate.model.User">
        <id column="user_id" property="userId" javaType="java.util.UUID"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="profile_image" property="profileImage"/>
        <result column="avg_pace" property="avgPace"/>
        <result column="birthday" property="birthday"/>
        <result column="gender" property="gender"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <select id="findByEmail" resultMap="UserMap">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

    <select id="findByUserId" resultMap="UserMap">
        SELECT *
        FROM users
        WHERE user_id = #{userId}
    </select>

    <select id="existsByEmail" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM users WHERE email = #{email})
    </select>

    <select id="existsByNickname" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM users WHERE nickname = #{nickname})
    </select>

    <insert id="insert">
        INSERT INTO users (user_id, email, password, nickname,
                         profile_image, avg_pace, birthday, gender, created_at)
        VALUES (#{userId}, #{email}, #{password}, #{nickname},
                #{profileImage}, #{avgPace}, #{birthday}, #{gender}::gender_enum, #{createdAt})
    </insert>

<!--    사용자별 평균 페이스 조회-->
    <select id="findAvgPaceByUserId" resultType="double">
        SELECT avg_pace
        FROM users
        WHERE user_id = #{userId}
    </select>
<!--    사용자별 평균 페이스 업데이트-->
    <update id="updateAvgPace">
        UPDATE users
        SET avg_pace = #{avgPace}
        WHERE user_id = #{userId}
    </update>
</mapper> 